## template: jinja
#cloud-config

# Ref: https://canonical-subiquity.readthedocs-hosted.com/en/latest/reference/autoinstall-reference.html
#
# generate passwords with `mkpasswd`.  E.g., 
#
#     mkpasswd
#     mkpasswd -m yescrypt --salt='$y$j9T$JHXk1KV/462GrKToRysPF.$'
#
# the latter being explicit with respect to configuration.
#
autoinstall:
  version: 1
  timezone: "America/Vancouver"

  interactive-sections:
  - storage

  storage:
    layout:
      name: lvm
      sizing-policy: all

  early-commands: 
  # install wireless drivers
  - find /cdrom/pool/main/p/pcsc-lite -type f | xargs dpkg -i
  - find /cdrom/pool/main/w/wpa -type f | xargs dpkg -i
  - /cdrom/network-config.sh --early

  # netplan: add network devices to autoinstall.yaml
  - >
    sed '$d' -i /autoinstall.yaml &&
    cat /netplan.yml >> /autoinstall.yaml &&
    echo "..." >> /autoinstall.yaml

  # - netplan apply
  late-commands:
  - curtin in-target -- /cdrom/network-config.sh --hostname "{{ v1.local_hostname }}"

  ssh:
    install-server: true
    allow-pw: false

  drivers:
    install: true

  user-data:
    users:
    - default
    - name: ansible
      gecos: Ansible User
      groups: users,admin,wheel
      sudo: "ALL=(ALL) NOPASSWD:ALL"
      shell: /bin/bash
      lock_passwd: true
      ssh_authorized_keys:
        - ssh-rsa ....
