#!/bin/bash
#
# ---> WARNING! THIS SCRIPT IS DYNAMICALLY GENERATED <---
#
# network-config.sh is a component of the cloud-init configuration, c.f.
# ./cloud-init/preseed/user-data.
#
# Update network-config.sh:
#   pipenv run python3 src/create_script.py
#
# Test: 
#   ./network-config.sh --mount ${PWD}/rfs --phase early
#   ./network-config.sh --mount ${PWD}/rfs --phase late --hostname fuzz --cmdline test/cmdline
#

read -r -d '' DATA<<EOF
{{ encoded_data }}
EOF

pushd () {
    command pushd "$@" > /dev/null
}

popd () {
    command popd "$@" > /dev/null
}

TMP=$(mktemp -d)
cleanup() {
	>&2 echo ">>> cleaning up $TMP"
	rm -rf $TMP
}
trap cleanup EXIT

args=${args:-""}
pushd $TMP
echo "$DATA" | base64 -d | tar -xz
python3 network.py $args "$@"
popd
